.header {
    width: 100%;
    height: 5.5rem;
    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    .containerBox {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .homeButton {
            border: none;
            background: none;
            cursor: pointer;

            opacity: 1;
            outline: 0;
            position: relative;
            text-align: center;
            letter-spacing: 1px;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {

                &:after {
                    opacity: 1;
                    transform: translateY(0) rotateX(0);
                }

                &:before {
                    opacity: 0;
                    transform: translateY(-50%) rotateX(90deg);
                }
            }

            &:after {
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                color: var(--color-darkGrey);
                display: block;
                transition: 0.5s;
                position: absolute;
                content: attr(data-back);
                transform: translateY(50%) rotateX(90deg);
                font-size: clamp(var(--font-5), 2.5vw, var(--font-4));
                color: var(--color-darkGrey);
                font-family: var(--font-type);
                font-style: normal;
                font-weight: var(--font-weight-2);
                line-height: normal;
            }

            &:before {
                top: 0;
                left: 0;
                opacity: 1;
                width: 100%;
                color: var(--color-white);
                display: block;
                transition: 0.5s;
                position: relative;
                content: attr(data-front);
                transform: translateY(0) rotateX(0);
                font-size: clamp(var(--font-5), 2.5vw, var(--font-4));
                color: var(--color-white);
                font-family: var(--font-type);
                font-style: normal;
                font-weight: var(--font-weight-2);
                line-height: normal;
            }

        }

        .buttonSection {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .buttonsContainer {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                .interactionButton {
                    border: none;
                    background: none;


                    transition: all 0.3s;
                    position: relative;

                    span {
                        transition: all 0.3s;

                        font-size: clamp(var(--font-7), 2.5vw, var(--font-6));
                        color: var(--color-white);
                        font-family: var(--font-type-2);
                        font-style: normal;
                        font-weight: var(--font-weight-4);
                        line-height: normal;
                        text-align: center;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        opacity: 0;
                        transition: all 0.3s;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        border-bottom-color: var(--color-white);
                        transform: scale(0.1, 1);
                    }

                    &:hover {
                        &:before {
                            opacity: 1;
                            transform: scale(1, 1);
                        }
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        transition: all 0.3s;
                    }

                    &:hover {
                        &:after {
                            opacity: 0;
                            transform: scale(0.1, 1);
                        }
                    }

                }
            }

        }
    }
}


@media (max-width: 768px) {
    .header {
        width: 100%;
        height: auto;
        flex-direction: row;
        align-items: center;
        padding: 1.5rem 0rem;

        .containerBox {
            width: 91%;
            min-width: 22.115rem;
            flex-direction: column;
            gap: 1.2rem;

            .homeButton {
                &:after {
                    font-size: var(--font-5);
                }
    
                &:before {
                    font-size: var(--font-5);
                }
    
            }
    
            .buttonSection {
    
                .buttonsContainer {
                    .interactionButton {
                        span {
                            font-size: var(--font-7);
                        }
                    }
                }
    
            }
        }
    }
}