.footer {
    width: 100%;
    height: 8.5rem;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .footerContainer {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;

        span {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: flex-start;
            justify-content: flex-start;

            p {
                color: var(--color-white);
                font-family: var(--font-type);
                font-size: var(--font-4);
                font-style: normal;
                font-weight: var(--font-weight-4);
                line-height: normal;
            }

            a {
                color: var(--color-white);
                font-family: var(--font-type);
                font-size: var(--font-4);
                font-style: normal;
                font-weight: var(--font-weight-4);
                line-height: normal;
    
                cursor: pointer;
            }
        }


        p {
            color: var(--color-white);
            font-family: var(--font-type);
            font-size: var(--font-6);
            font-style: normal;
            font-weight: var(--font-weight-4);
            line-height: normal;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        width: 100%;
        height: auto;
        align-items: center;
    
        .footerContainer {
            width: 91%;
            min-width: 22.115rem;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            justify-content: center;
    
            span {
                gap: 0.5rem;
                align-items: center;
                justify-content: center;
    
                p {
                    font-size: var(--font-6);
                }
    
                a {
                    font-size: var(--font-6);
                }
            }
    
            p {
                font-size: var(--font-7);
            }
        }
    }
}